.accordion {
  counter-reset: item;
}

.accordion__item {
  border-top: 1px solid rgba(var(--smoky-white-rgb), 0.5);
}

.accordion__trigger {
  position: relative;
  display: block;
  width: 100%;
  padding: 19px 32px 21px 152px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--smoky-white);
  text-align: start;
  background-color: var(--accent);
  border: none;
  cursor: pointer;
}

.accordion__item:last-child {
  border-bottom: 1px solid rgba(var(--smoky-white-rgb), 0.5);
}

.accordion__trigger::before {
  position: absolute;
  left: 0;
  top: 19px;
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
}

.accordion__trigger::after {
  position: absolute;
  right: 0;
  top: 14px;
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  color: var(--smoky-white);
  background-color: transparent;
  background-image: url('../img/arrow.svg');
  background-size: 16px 9px;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease 0s;
}

.accordion__trigger[aria-expanded="true"]::after {
  transform: scale(1, -1);
}

.accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.5s ease 0s;

  &[aria-hidden="true"] {
    visibility: hidden;
  }

  &[aria-hidden="false"] {
    grid-template-rows: 1fr;
  }
}

.accordion__wrapper {
  overflow: hidden;
}

.accordion__text {
  margin: 0;
  padding: 20px 32px 20px 152px;
}

.accordion__text:first-child {
  padding-top: 7px;
}

.accordion__text+.accordion__text {
  padding-top: 0;
}

.accordion__table {
  width: 100%;
  border-collapse: collapse;
}

.accordion__table tr {
  display: flex;
  column-gap: 20px;
  padding: 19px 0;
  border-bottom: 1px solid rgba(var(--smoky-white-rgb), 0.5);
}

.accordion__table tr:first-child {
  padding-top: 7px;
}

.accordion__table tr:last-child {
  border: none;
}

.accordion__table td {
  font-weight: 400;
  line-height: 1.3;
}

.accordion__table tr.duo {
  column-gap: 0;
}

.accordion__table td:nth-child(1) {
  flex: 0 0 132px;
  font-weight: 500;
  line-height: 1.2;
}

.accordion__table tr.duo td[colspan="2"] {
  flex: 1 1 70%; // 520/742
}

.accordion__table td:nth-child(2) {
  flex: 1 1 100%;
}

.accordion__table tr.duo td[colspan="2"]+td {
  flex: 0 1 17.789%; // 132/742
  text-align: right;
}

.accordion__table td:nth-child(3) {
  flex: 0 1 100%;
  max-width: 17.789%; // 132/742
  text-align: right;
}

.accordion__button {
  width: 100%;
  margin-bottom: 19px;
  padding: 18px;
  font-size: 18px;

  &:hover {
    border: 1px solid var(--smoky-white);
  }
}

@media (max-width: 740px) {
  .accordion__table tr.duo td[colspan="2"]+td {
    flex: 0 1 30%; // 222/742
  }
}

@media (max-width: 600px) {
  .accordion__table tr {
    flex-wrap: wrap;
    column-gap: 0;
    row-gap: 15px;
    justify-content: space-between;
  }

  .accordion__table tr.duo {
    flex-wrap: nowrap;
  }

  .accordion__table td:nth-child(1) {
    flex: 0 1 50%; // 371/742
    max-width: none;
  }

  .accordion__table tr.duo td[colspan="2"] {
    flex: 0 1 65%; // 483/742
    padding-right: 10px;
  }

  .accordion__table td:nth-child(2) {
    flex: 1 1 100%;
    order: 3;
  }

  .accordion__table tr.duo td[colspan="2"]+td {
    flex: 0 1 35%; // 259/742
    order: 0;
    text-align: right;
  }

  .accordion__table td:nth-child(3) {
    flex: 0 1 50%; // 371/742
    max-width: none;
  }
}

@media (max-width: 550px) {
  .accordion__trigger {
    padding: 19px 32px 21px 78px;
  }

  .accordion__text {
    padding-left: 78px;
  }
}

@media (max-width: 445px) {
  .accordion__table tr.duo td[colspan="2"]+td {
    flex: 0 1 auto;
  }

  .accordion__text {
    padding-left: 32px;
    padding-right: 32px;
  }
}