$mobile-width: 320px;

:root {
  --smoky-white: #f1f1f1;
  --smoky-white-rgb: 241, 241, 241;
  --black: #000000;
  --black-rgb: 0, 0, 0;
  --accent: #223647;
  --accent-rgb: 34, 54, 71;
  --accent-light: #91ceff;
  --periwinkle: #88abc8;
}